* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}
p {
  font-family: "Sintony", sans-serif;
}
hr {
  height: 1px;
  border: 0;
  background-color: #7d9299;
  color: #7d9299;
  opacity: 0.4;
  margin: 10px 0;
}
#site_wrap {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns:
    1fr
    repeat(4, minmax(0, 330px))
    1fr;
  grid-template-rows:
    60px
    135px
    min-content
    566px
    527px
    min-content
    79px;
  grid-template-areas:
    "header header header header header header"
    "featured_header featured_header featured_header featured_header featured_header featured_header"
    "slider-section slider-section slider-section slider-section slider-section slider-section"
    "news_content news_content news_content news_content news_content news_content"
    "announcement_container announcement_container announcement_container announcement_container announcement_container announcement_container"
    "footer footer footer footer footer footer"
    "socials socials socials socials socials socials";
}
.header {
  background-color: #1c5687;
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  z-index: 10;
}
nav {
  display: flex;
  position: relative;
  color: #ffffff;
  padding: 0px 0px 0px 70px;
  align-items: center;
  width: 100%;
  height: 60px;
}
/* nav bar section */
.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar a.navlink {
  display: inline-block;
  font-family: "Sintony", sans-serif;
  font-size: 1em;
  height: 60px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 18px 21px 18px 20px;
}
.navbar .navlink-active {
  display: inline-block;
  font-family: "Sintony", sans-serif;
  font-size: 1em;
  height: 60px;
  color: #ffffff;
  background-color: #113a55;
  font-weight: 400;
  text-decoration: none;
  padding: 18px 21px 18px 20px;
}
.navbar a.navlink:visited {
  text-decoration: none;
  color: #ffffff;
}
.navbar a.navlink:hover {
  background-color: #113a55;
  color: white;
}
/* The container <div> - needed to position the dropdown content */
.nav-dropdown {
  display: flex;
  justify-content: center;
  height: 100%;
}
/* dropdown button */
.dropbtn {
  background-color: #1c5687;
  font-family: "Sintony", sans-serif;
  font-size: 1em;
  color: #ffffff;
  font-weight: 400;
  color: white;
  border: none;
  padding: 18px 21px 18px 20px;
  height: 100%;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  height: 189px;
  width: 300px;
  text-align: left;
  opacity: 1;
  z-index: 1;
  padding-top: 20px;
  margin: 0;
  box-shadow: 0px 0px 10px 0px #00000075;
}
/* Links inside the dropdown */
.dropdown-content a.drop {
  color: #1c5687;
  font-family: "Sintony", sans-serif;
  font-weight: bold;
  font-size: 0.888em;
  letter-spacing: 0px;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
  padding-left: 20px;
  padding-bottom: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a.drop:hover {
  background-color: #ffffff;
  color: #113a55;
  text-decoration: underline;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #113a55;
}
.school-dropdown .dropbtn {
  background-color: #dededd;
}
/* Keeps my dropdown positioned to right side */
.school-dropdown {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  height: 100%;
  z-index: 2;
}
/* Icon in the School Dropdown */
/* Change color of arrow */
.school-arrow-icon {
  display: inline-flex;
  width: 7.92px;
  height: 11.79px;
  margin-right: 7.08px;
  transform: rotate(180deg);
  z-index: 2;
  transition-timing-function: ease-out;
  transition: 0.3s;
}
/* Makes dropdown for school visible under 'schools'*/
.dropdown:hover .dropdown-content-school {
  display: block;
}
.dropdown:hover .school-arrow-icon {
  transform: rotate(270deg);
  transition-timing-function: ease-out;
  transition: 0.3s;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(290deg)
    brightness(106%) contrast(101%);
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content-school {
  display: none;
  position: absolute;
  right: 0;
  height: 159px;
  min-width: 260px;
  text-align: left;
  opacity: 1;
  z-index: 1;
  padding-top: 20px;
  box-shadow: 0px 0px 10px 0px #00000075;
}
.school-dropdown .dropdown {
  height: 100%;
}
.school-dropdown .dropbtn {
  color: #113a55;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  font-size: 0.888em;
}
.dropdown-content-school a.drop {
  color: #1c5687;
  font-family: "Sintony", sans-serif;
  font-weight: bold;
  font-size: 0.888em;
  letter-spacing: 0px;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
  padding-left: 20px;
  padding-bottom: 20px;
}
.dropdown-content-school a.drop:hover {
  background-color: #ffffff;
  color: #113a55;
  text-decoration: underline;
}
.dropdown:hover .dropbtn {
  background-color: #113a55;
  color: #ffffff;
}
/* Sizes my container for the search icon */
.search-button {
  display: inline-flex;
  position: relative;
  background-color: #113a55;
  border: none;
  width: 60px;
  height: 100%;
  justify-content: center;
}
/* Gives my search icon dimensions */
.search img {
  width: 15.53px;
  height: 60px;
}
/* Search bar dropdown */
.search-bar-content {
  display: none;
  position: absolute;
  min-width: 465px;
  max-height: 90px;
  background-color: #ffff;
  box-shadow: 0px 0px 10px #00000075;
  padding: 20px 22.65px 20px 30px;
  overflow: auto;
  right: 0;
  z-index: 2;
}
.search-bar-content img {
  min-width: 24.8px;
  min-height: 20px;
  margin-left: 22.45px;
}
#myInput {
  box-sizing: border-box;
  font-family: "Sintony", sans-serif;
  font-size: 0.888em;
  min-width: 365px;
  padding: 14px 20px 12px 16px;
  border: 1px solid #7d9299;
  border-radius: 4px;
  height: 50px;
  text-align: left;
}
/* Shows on click of search icon */
.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* featured header section */
.featured_header {
  background-color: #ffffff;
  display: flex;
  grid-area: featured_header;
}
.featured_header_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  vertical-align: top;
  padding: 20px 0 15px 91px;
}
.logo {
  display: flex;
  justify-content: space-evenly;
  width: 116px;
  height: 100px;
}
.title-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 19px;
  word-spacing: 0.375em;
}
/* Styles my featured header text */
.title-text h1 {
  color: #1c5687;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 1.875em;
  margin-bottom: 0;
}
.title-text h2 {
  color: #333333;
  font-family: "Sintony", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  padding-top: 6px;
}
.global_icons {
  display: flex;
  align-items: baseline;
  text-align: center;
  margin-top: 25.33px;
  margin-left: auto;
  margin-right: 92px;
  height: 100%;
  font-size: 0.888em;
}
.global_icons_wrapper {
  padding-left: 47px;
}
.global_icons_wrapper img {
  width: 40px;
  height: auto;
  padding-bottom: 8.26px;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
.global_icons_wrapper img:hover {
  transform: translateY(-5px);
  transition-timing-function: ease-out;
  transition: 0.3s;
}
/* Styles my slider content */
.slider-section {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
  grid-area: slider-section;
}
.carousel-outer-container {
  display: flex;
  flex-direction: row;
  max-height: 585px;
}
.carousel {
  overflow: hidden;
  max-width: 1071px;
  max-height: 585px;
  position: relative;
}
.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}
.carousel .carousel__item img {
  width: 100%;
  max-width: 1071px;
  height: 585px;
}
.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}
/* Button Positions */
.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  bottom: 0%;
  transform: translateY(-15px);
}
/* Carousel Button Style */
.carousel .carousel__actions button {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: #1c5687;
  opacity: 0.9;
}
.carousel .carousel__actions button#carousel__button--pause {
  margin: 0px 5px;
}
.carousel .carousel__actions button#carousel__button--next {
  margin-right: 15px;
  transform: rotate(180deg);
}
/* Change colors of arrows */
.filter-arrows {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(290deg)
    brightness(106%) contrast(101%);
}
/* Removes arrow filter on hover to go back to white */
.carousel__actions button:hover .filter-arrows {
  filter: none;
}
/* Adds blue filter on pause button on hover */
.carousel__actions button:hover .filter-pause {
  filter: invert(24%) sepia(55%) saturate(1016%) hue-rotate(172deg)
    brightness(100%) contrast(90%);
}
/* Hover effect for slider buttons */
.carousel .carousel__actions button:hover {
  background-color: #f7f7f7;
  color: #1c5687;
  border: 1px solid #7d9299;
}
/* Right side of slider section */
.carousel-right {
  max-height: 585px;
}
#carousel-right-wrapper {
  padding-left: 40px;
  padding-top: 158px;
  max-width: 609px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 585px rgba(28, 86, 135, 0.9);
}
.firstImg {
  background-image: url("/Assets/Assets/Main Images/Main image.png");
}
.lastImg {
  background-image: url("/Assets/Assets/Main Images/Soccer image.png");
}
/* Learn more button in slider */
.learn-more-btn {
  background-color: #113a55;
  opacity: 1;
  border: none;
  color: #ffffff;
  padding: 13px 20px 12px 19px;
  text-transform: uppercase;
  font-size: 0.888em;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  border-radius: 5px;
}
.learn-more-btn:hover {
  background-color: #f7f7f7;
  color: #1c5687;
  border: 1px solid #7d9299;
}
/* Carousel font styling */
.carousel-right h4 {
  font-family: "Merriweather", serif;
  font-size: 1.222em;
  padding-bottom: 20px;
  font-weight: bold;
  color: #ffff;
  text-align: left;
}
.carousel-right p {
  color: #ffff;
  font-family: "Sintony", sans-serif;
  font-size: 0.888em;
  padding-bottom: 18px;
  padding-right: 90px;
  line-height: 25px;
}
/* Style for the mid news section, columns */
.news_content {
  background-color: #ffffff;
  grid-area: news_content;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.news_content div {
  overflow: hidden;
}
/* Contains my header content ("current news + more button */
.news-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 0;
  flex: 1 1 0;
}
/* Styles news contenter text*/
.news-content-header h1 {
  color: #1c5687;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.888em;
  margin-top: 43px;
  margin-bottom: 32px;
}
/* More Button in News Column*/
.more-btn {
  background-color: #113a55;
  opacity: 1;
  border: none;
  color: #ffffff;
  width: 87px;
  height: 45px;
  padding: 13px 20px 12px 19px;
  text-transform: uppercase;
  font-size: 0.888em;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  border-radius: 5px;
}
.more-btn:hover {
  background-color: #f7f7f7;
  color: #1c5687;
  border: 1px solid #7d9299;
  border-radius: 5px;
}
/* Creates the four columns for the news row */
.news-row {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
/* Handles the news columns */
.news-column {
  max-width: 330px;
  max-height: 389px;
  padding-bottom: 60px;
  flex: auto;
}
.news-column h2 {
  font-family: "Sintony", sans-serif;
  font-weight: bold;
  font-size: 1.222em;
  line-height: none;
  color: #1c5687;
  margin: 12px auto 12px auto;
}
.news-column:hover h2 {
  text-decoration: underline;
  color: #113a55;
}
/* Wraps my image so i can hide overflow when zoomed in on hover */
.news-image-wrapper {
  display: inline-block;
  overflow: hidden;
}
.news-column img {
  width: 330px;
  height: 240px;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.news-column:hover img {
  transform: scale(1.1);
  transition-timing-function: ease-out;
}
/* For announcement content */
.announcement_container {
  background-color: #1c5687;
  display: flex;
  justify-content: center;
  width: 100vw;
  grid-area: announcement_container;
}
/* Styles h3*/
.announcement-site-row h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #1c5687;
  font-size: 1.444em;
  margin: 0;
}
.announcement-site-row {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  overflow: hidden;
}
.announcement-site-column {
  background-color: #ffffff;
  width: 720px;
  padding: 24px 30px 39px 30px;
  margin-right: 60px;
  height: 407px;
  border: 1px solid #7d9299;
  border-radius: 4px;
}
.announcement-site-column p {
  font-family: "Sintony", sans-serif;
  font-weight: 400;
  font-size: 0.888em;
  margin: 0;
}
.text-container {
  padding-top: 20px;
  padding-bottom: 25px;
}
.site-shortcut-column {
  width: 720px;
  min-height: 407px;
}
.site-column {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  width: 720px;
  padding: 24px 30px 39px 30px;
  height: 407px;
  border: 1px solid #7d9299;
  border-radius: 4px;
}
/* Styles my site shortcut list*/
.site-column h3 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.444em;
  color: #1c5687;
  margin: 0%;
}
.site-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 291px;
}
.site-column li {
  border-bottom: 1px solid #1c5687;
  border: 0 0 1px 0;
  background-color: none;
  color: #7d9299;
  padding: 15px 0;
}
.site-column .top li {
  padding: 0;
}
.site-column li:hover {
  border-bottom: 3px solid #1c5687;
}
.site-column a {
  text-decoration: none;
  text-decoration-color: none;
  color: #1c5687;
  font-family: "Sintony", sans-serif;
  font-weight: bold;
  font-size: 0.888em;
  text-align: left;
  padding-bottom: 0;
}
/* Footer */
.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 37px;
  width: 100vw;
  grid-area: footer;
}
/* Line behind footer container */
.footer hr {
  z-index: 0;
  height: 26px;
  display: flex;
  justify-content: center;
  border-left: 1px solid #7d9299;
  margin: 0 30.5px;
}
/* Removes margin spacing for extra links in footer area */
.additional-links hr {
  margin: 0;
}
/* Styles my footer text */
.footer p {
  color: #1c5687;
  font-family: "Sintony", sans-serif;
  font-weight: bold;
  font-size: 1.111em;
  padding: 0;
}
.footer a {
  color: #1c5687;
  text-decoration: none;
  text-decoration-color: none;
}
.footer a:visited {
  text-decoration-color: none;
}
.footer a:hover {
  background-color: #ffffff;
  color: #113a55;
  text-decoration: underline;
}
.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 47px;
}
.footer-button-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  width: 100%;
}
.footer-button-container hr {
  border: 1px solid #7d9299;
  position: absolute;
  height: 1px;
  width: 100vw;
  z-index: 0;
}
.footer button {
  background-color: #113a55;
  opacity: 1;
  border: 1px solid #113a55;
  color: #ffffff;
  padding: 13px 20px 12px 19px;
  text-transform: uppercase;
  font-size: 0.888em;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;
}
.footer button:hover {
  background-color: #f7f7f7;
  color: #1c5687;
  border: 1px solid #7d9299;
  border-radius: 5px;
}
#backtotop-btn {
  margin-left: 10px;
}
#backtotop-btn img {
  transform: rotate(90deg);
  margin-right: 5.14px;
}
.additional-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
}
.additional-links a {
  padding: 10px;
  margin: 0;
  font-size: 0.888em;
  text-align: center;
  color: #1c5687;
  font-family: "Sintony", sans-serif;
  font-weight: bold;
  font-size: 0.888em;
}
.additional-links a:hover {
  text-decoration: underline;
}
.socials {
  background-color: #1c5687;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: socials;
}
.socials p {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 1.222em;
  margin-bottom: 0;
  text-align: center;
  margin-right: 47.06px;
}
.socials img {
  padding-right: 50px;
  transition-timing-function: 0.3s;
  transition-timing-function: ease-out;
}
.socials img:hover {
  transform: translateY(-5px);
  transition-timing-function: 0.3s;
  transition-timing-function: ease-out;
}
.socials-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/* hidden navbar items for mobile */
.mobile-nav {
  display: none;
}

/* hopefully repsonive for mobiles */
@media screen and (max-width: 1024px) {
  #site_wrap {
    grid-template-rows:
      60px
      135px
      min-content
      min-content
      1fr
      min-content
      79px;
    grid-template-areas:
      "header header header header header header"
      "featured_header featured_header featured_header featured_header featured_header featured_header"
      "slider-section slider-section slider-section slider-section slider-section slider-section"
      ". news_content news_content news_content news_content ."
      "announcement_container announcement_container announcement_container announcement_container announcement_container announcement_container"
      "footer footer footer footer footer footer"
      "socials socials socials socials socials socials";
  }
  /* nav bar section */
  nav {
    padding: 0px 0px 0px 40px;
  }
  .navbar {
    display: none;
  }
  .school-dropdown {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
  }
  .mobile-nav div {
    display: flex;
  }
  .mobile-nav img {
    width: 35.72px;
    height: 22.22px;
  }
  .mobile-nav h1 {
    font-family: "Sintony", sans-serif;
    font-size: 0.888em;
    padding-left: 10.28px;
  }
  /* search icon for mobile */
  .search {
    margin-right: 0;
    display: block;
    float: right;
  }
  /* featured header section */
  .featured_header_container {
    padding-left: 64px;
    justify-content: flex-start;
  }
  .title-text {
    line-height: 1.89em;
    word-spacing: 0;
  }
  .global_icons {
    display: none;
    margin-right: 0;
  }
  /* Slider section */
  .slider-section {
    max-height: 535px;
  }
  .carousel-outer-container {
    display: inline-block;
    flex-direction: column;
    height: auto;
  }
  .carousel {
    width: 100vw;
    height: auto;
  }
  .carousel-right {
    width: 100vw;
    height: auto;
  }
  #carousel-right-wrapper {
    max-width: 100vw;
    padding-top: 17px;
    padding-bottom: 20px;
    background-image: none;
  }
  #carousel-right-wrapper h4 {
    padding-bottom: 10px;
  }
  .carousel .carousel__item img {
    max-height: 350px;
  }
  /* News section */
  .news_content {
    background-color: #ffffff;
    grid-area: news_content;
    display: flex;
    justify-content: center;
    padding: 0 40px 0 40px;
    width: 100vw;
  }
  .news_content div {
    width: 100%;
  }
  .news-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
    gap: 0;
  }
  .news-column {
    max-width: 259px;
    height: auto;
  }
  .news-column img {
    width: 259px;
    height: 189px;
  }
  .announcement-site-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0;
    padding: 50px 40px;
  }
  .announcement-site-column {
    width: 560px;
    height: 456px;
    margin: 0 0 40px 0;
  }
  .site-column {
    width: 560px;
    height: 456px;
  }
  .contact-info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
  .contact-info hr {
    border: none;
  }
  .additional-links {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 640px) {
  #site_wrap {
    grid-template-rows:
      60px
      271px
      min-content
      1fr
      950px
      min-content
      79px;
    grid-template-areas:
      "header header header header header header"
      "featured_header featured_header featured_header featured_header featured_header featured_header"
      "slider-section slider-section slider-section slider-section slider-section slider-section"
      "news_content news_content news_content news_content news_content news_content"
      "announcement_container announcement_container announcement_container announcement_container announcement_container announcement_container"
      "footer footer footer footer footer footer"
      "socials socials socials socials socials socials";
  }
  nav {
    padding: 0px 0px 0px 20px;
  }
  /* featured header section */
  .featured_header {
    width: 100vw;
    padding: 0;
    margin: 0;
    grid-area: auto;
  }
  .featured_header_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .logo {
    display: flex;
    justify-content: space-evenly;
    width: 116px;
    height: 100px;
  }
  .title-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 19px;
    word-spacing: 0.375em;
  }
  /* Styles my featured header text */
  .title-text h1 {
    color: #1c5687;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 30px;
    width: 280px;
    text-align: center;
    margin-bottom: 0;
  }
  .title-text h2 {
    color: #333333;
    font-family: "Sintony", sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    padding-top: 6px;
    text-align: center;
  }
  #search-icon-1 {
    width: 21px;
  }
  /* Search bar dropdown */
  .search-bar-content {
    display: none;
    position: absolute;
    min-width: 320px;
    max-height: 90px;
    background-color: #ffff;
    box-shadow: 0px 0px 10px #00000075;
    padding: 20px 22.65px 20px 30px;
    margin: 0 0 0 20px;
    overflow: auto;
    right: 0;
    z-index: 2;
  }
  .search-bar-content img {
    min-width: 24.8px;
    min-height: 20px;
    margin-left: 22.45px;
  }
  #myInput {
    box-sizing: border-box;
    font-family: "Sintony", sans-serif;
    font-size: 0.888em;
    min-width: 240px;
    padding: 14px 20px 12px 16px;
    border: 1px solid #7d9299;
    border-radius: 4px;
    height: 50px;
    text-align: left;
  }
  /* Shows on click of search icon */
  .show {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Slider section */
  .slider-section {
    max-height: none;
  }
  .carousel-outer-container {
    display: inline-block;
    height: auto;
  }
  .carousel {
    width: 100vw;
    height: 175px;
    flex-shrink: 0;
  }
  .carousel-right {
    width: 100vw;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: auto;
  }
  #carousel-right-wrapper {
    max-width: 100vw;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: none;
    max-height: 258px;
  }
  #carousel-right-wrapper h4 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
  }
  #carousel-right-wrapper p {
    font-size: 16px;
    padding-right: 0;
  }
  .carousel .carousel__item img {
    height: auto;
  }
  .carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    transform: translateY(-15px);
  }
  /* Mobile News Section */
  .news_content {
    background-color: #ffffff;
    grid-area: news_content;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
    width: 100vw;
  }
  .news_content div {
    width: 100%;
  }
  .news-content-header {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  /* Styles news contenter text*/
  .news-content-header h1 {
    margin-top: 23px;
    margin-bottom: 17px;
  }
  .news-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
    gap: 0;
    margin-top: 26px;
  }
  .news-column {
    max-width: none;
    height: auto;
    padding-bottom: 30px;
  }
  .news-column img {
    width: 280px;
    height: 204px;
  }
  /* announcement content mobile */
.announcement_container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  width: 100vw;
  grid-area: announcement_container;
}
/* Styles h3*/
.announcement-site-row h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #1c5687;
  font-size: 1.444em;
  margin: 0;
}
.announcement-site-row {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  overflow: visible;
  padding: 0;
  margin: 0;
}
.announcement-site-column {
  background-color: #ffffff;
  width: 280px;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}
.announcement-site-column p {
  font-family: "Sintony", sans-serif;
  font-weight: 400;
  font-size: 0.888em;
  margin: 0;
}
.text-container {
  padding-top: 15px;
  padding-bottom: 24px;
}
.site-shortcut-column {
  width: 720px;
  min-height: 407px;
}
.site-column {
  background-color: #ffffff;
  width: 280px;
  height: auto;
  margin: 40px 0;
  padding: 0;
  border: none;
}
/* Styles my site shortcut list*/
.site-column h3 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.444em;
  color: #1c5687;
  margin: 0%;
}
/* Footer -- Mobile */
.footer {
  background-color: #ffffff;
  display: inline-block;
  justify-content: center;
  padding: 32px 10px;
  width: 100vw;
  grid-area: footer;
}
/* Line behind footer container */
.footer hr {
  display: none;
}
/* Removes margin spacing for extra links in footer area */
.additional-links hr {
  margin: 0;
}
/* Styles my footer text */
.footer p {
  color: #1c5687;
  font-family: "Sintony", sans-serif;
  font-weight: bold;
  font-size: 1.111em;
  padding: 0;
}
.footer a {
  color: #1c5687;
  text-decoration: none;
  text-decoration-color: none;
}
.footer a:visited {
  text-decoration-color: none;
}
.footer a:hover {
  background-color: #ffffff;
  color: #113a55;
  text-decoration: underline;
}
.contact-info {
  display: inline;
  justify-content: center;
  padding-bottom: 47px;
  text-align: center;
}
.footer-button-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  width: 100%;
}
.footer-button-container hr {
  border: 1px solid #7d9299;
  position: absolute;
  height: 1px;
  width: 100vw;
  z-index: 0;
}
.additional-links {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 42px;
}
}
