body {
  margin: 0;
  padding: 0;
  z-index: 0;
  font-family: "Merriweather", "Sintony", "Merriweather Sans";
  line-height: 1.5em;
}
h2 {
  color: #1c5687;
  font-family: "Merriweather";
  font-style: bold;
  font-size: 1.875em;
  margin-bottom: 0;
}
h5 {
  color: #333333;
  font-family: "Sintony";
  font-size: 1.25em;
  margin-top: 10px;
}

#site_wrap {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns:
    1fr
    repeat(4, minmax(0, 330px))
    1fr;
  grid-template-rows:
    60px
    135px
    585px
    566px
    527px
    254px
    79px;
  grid-template-areas:
    "header header header header header header"
    "featured_header featured_header featured_header featured_header featured_header featured_header"
    "slider-section slider-section slider-section slider-section slider-section slider-section"
    ". news_content news_content news_content news_content ."
    "announcement_container announcement_container announcement_container announcement_container announcement_container announcement_container"
    "footer footer footer footer footer footer"
    "socials socials socials socials socials socials";
}
.header {
  background-color: #1c5687;
  grid-area: header;
  font-family: "Sintony";
  font-style: bold;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}
.nav{
  display: flex;
  position: relative;
  color: white;
  padding: 0px 0px 0px 70px;
  font-size: 1.125em;
  align-items: center;
  width: 100%;
  height: 60px;
}
/* nav bar section */
.navbar {
  list-style: none;
  justify-content: start;
  display: inline-flex;
  text-align: center;
  align-items: center;
  float: left;
}
.navbar a.navlink {
  text-decoration: none;
  text-decoration-color: none;
  padding: 18px 21px 18px 20px;
  color: #ffff;
}
.navbar a.navlink:visited {
  text-decoration: none;
  color: #ffff;
}
.navbar a.navlink:active {
  background-color: #113a55;
  color: white;
}

/* dropdown button */
.dropbtn {
  background-color: #1c5687;
  color: white;
  font-size: 18px;
  border: none;
  padding: 18px 21px 18px 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown .nav-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  height: 21px;
  min-width: 300px;
  text-align: left;
  box-shadow: 0px 0px 10px #00000075;
  opacity: 1;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.drop {
  color: #1c5687;
  font-family: "Sintony";
  font-style: bold;
  font-size: 16px;
  padding: 12px 16px;
  letter-spacing: 0px;
  text-decoration: none;
  display: block;
  background-color: #ffff;
}

/* Change color of dropdown links on hover */
.dropdown-content a.drop:hover {
  background-color: #ffff;
  color: #113a55;
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #113a55;
}

/* I cannot get this box to align to the right of my nav container */
.school-dropdown {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  float: right;
  z-index: 2;
}
.school-dropdown .dropdown-content {
  align-items: right;
}
.school-dropdown .dropbtn {
  background-color: #dededd;
  color: #113a55;
  font-family: "Merriweather Sans";
  font-style: bold;
}
.dropdown:hover .dropbtn {
  background-color: #113a55;
  color: #ffff;
}
/* Sizes my container for the search icon */
.search {
  display: inline-flex;
  background-color: #113a55;
  padding-left: 22.24px;
  padding-right: 22.24px;
}
/* featured header section */
.featured_header {
  background-color: #ffff;
  grid-area: featured_header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  vertical-align: top;
}
.featured_header_container{
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding-top: 20px;
}
.logo{
  padding: 10px 19px 15px 91px;
  float: left;
  width: 116px;
  height: 100px;
  max-width: 116px;
  max-height: 100px;
  flex-shrink: unset;
  flex-grow: unset;
}
.title-text{
  width: 60%;
  word-spacing: 0.375em;
  height: auto;
  flex-wrap: wrap;
}
.global_icons{  
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: auto 98px auto 0px;
}
.global_icons_wrapper{
  padding-top: 15px;
  padding-left: 47px;
  justify-content: center;
  align-self: baseline;
}
/* Styles my slider content */
.slider-section {
  display: flex;
  grid-area: slider-section;
  overflow: hidden;
}
/* wraps my two photos in the slider */
.photo-wrapper {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.photo-column1{width: 100%; height:auto;}
/* clearfix, moves second photo to side, might need to change later */
.photo-column1::after {
  content: "";
  clear: both;
  display: table;
}
/* figure out why this isnt overlaying the photo.column2 image */
.slider-overlay {
  width: 100%;
  z-index: 2;
  background-color: yellow;
  opacity: 30%;
  display: flex;
  position: absolute;
  max-height: 100%;
  height: 585px;
}
/* Style for the mid news section, columns */
.news_content {
  background-color: orange;
  grid-area: news_content;
}
.announcement_container {
  background-color: gray;
  grid-area: announcement_container;
}
.footer {
  background-color: cyan;
  grid-area: footer;
}
.socials {
  background-color: yellow;
  grid-area: socials;
}

/* hopefully repsonive for mobiles */
@media screen and (max-width: 640px) {
  #site_wrap {
    grid-template-areas:
      "header header header header header header"
      "featured_header featured_header featured_header featured_header featured_header featured_header"
      "slider-section slider-section slider-section slider-section slider-section slider-section"
      ". news_content news_content news_content news_content."
      "announcement_container announcement_container announcement_container announcement_container announcement_container announcement_container"
      "footer footer footer footer footer footer"
      "socials socials socials socials socials socials";
  }
}

@media screen and (max-width: 320px) {
  #site_wrap {
    grid-template-areas:
      "header header header header header header"
      "featured_header featured_header featured_header featured_header featured_header featured_header"
      "slider-section slider-section slider-section slider-section slider-section slider-section"
      "news_content news_content news_content news_content news_content news_content"
      "announcement_container announcement_container announcement_container announcement_container announcement_container announcement_container"
      "footer footer footer footer footer footer"
      "socials socials socials socials socials socials";
  }
}
